.notification-view-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px 15px 15px 0;
    width: 999px;
  }
  
  .notification-view-leftside {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
  }
  
  .notification-view-rightside {
    display: flex;
    justify-content: flex-end;
  }
  
  .notification-view-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin-left: 10px;
    line-height: 150%;
  }

  .notification-view-title {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
  }
  
  .notification-view-content {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    color: var(--text-colour-default, #000);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
  }
  
  .notification-count {
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background-color: #9F00D9;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  