.seller-post-container {
    padding-left: 35px;
    padding-right: 45px;
    padding-top: 30px;
    padding-right: 30px;
    align-items: center;
    font-family: Poppins;
  }
  
  .seller-post-title {
    display: flex;
    align-items: center;
  }
  
  .seller-post-back-nav {
    padding-left: 45px;
  }
  
  .new-post-title-content {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 20px;
  }
  
  .seller-post-main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 5px; */
   /* padding-top: 400px; */
  }
  
  .post-main-card {
    /* position: fixed; */
    background: var(
      --card-gradient-2,
      linear-gradient(177deg, #fff 0%, #fcf5ff 54.29%, #f0ccfd 100%)
    );
  
    /* width: 100%; */
    max-height: 650px;
    border-radius: 10px;
    padding: 12px 24px 24px 24px;
    /* margin-bottom: 10px; */
    margin-left: 16px;
    margin-right: 20px;
    bottom: 100px;
    /* overflow-y: auto; */
  
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
    /* Other styles for the card */
    /* ... */
  }
  
  /* .post-main-card-title{
      color: #000;
      Texts/P2/Regular
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
      text-align: left;
    } */
  
  .post-main-card-content {
    background-color: white;
  max-height:600px;
    /* height: 740px; */
    border-radius: 6px;
    margin: 10px 40px;
    overflow-y: auto;
  }

  .Input-set-seller-post {
    padding: 20px;
    padding-top: 50px;
  }
  
  .lable-number{
    font-weight: 700;
  }
  .input-set-one {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }
  .post-label-one {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .Seller-post-input {
    padding-left: 15px;
    margin-top: 10px;
  }
  
  .input-set-two {
    margin-top: 40px;
    /* display: flex;
    flex-direction: row; */
  }
  
  .input-set-three {
    margin-top: 40px;
  }
  
  .input-set-four {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    gap: 45px;
  }
  
  .Seller-post-input-one {
    margin-left: -10px;
    margin-top: 10px;
  }
  
  .seller-offr-input {
    /* margin-right: 189px; */
  }
  
  .seller-post-next-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
    margin-right: 35px;
  }
  .next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9f00d9;
    color: white;
    padding: 12px 24px;
    width: 185px;
    height: 48px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    gap: 10px;
  }
  
  .next-button:hover {
    opacity: 0.8;
  }
  
  